---
import { Image } from 'astro:assets';
import Layout1 from '../layouts/layout1.astro';
import Navbar from '../components/Navbar.astro';
import BuscadorDisponibilidad from '../components/BuscadorDisponibilidad.astro';
import WhatsAppButton from '../components/WhatsAppButton.astro';
import UnidadCard from '../components/UnidadCard.astro';
import { unidades } from '../data/unidades';
import monte from '../assets/montemisionero.webp';

---

<Layout1 title="Nuestras Unidades | Entre Hojas">
  <Navbar title="Entre Hojas"/>
  
  <!-- Encabezado con Imagen de Fondo y Buscador -->
  <div class="relative bg-gray-900 py-24 sm:py-32">
    <div class="absolute inset-0 overflow-hidden">
      <Image 
        src={monte}
        alt="Paisaje natural de fondo" 
        class="h-full w-full object-cover object-center opacity-40"
      />
      <div class="absolute inset-0 bg-linear-to-b from-black/10 via-black/30 to-black/70"></div>
    </div>

    <div class="relative mx-auto max-w-7xl px-6 lg:px-8 text-center">
      <h1 class="text-4xl font-extrabold tracking-tight text-white sm:text-6xl uppercase italic">
        Unidades Exclusivas
      </h1>
      <p class="mt-4 text-lg leading-8 text-gray-300">
        Descubrí el refugio perfecto para tu próxima escapada en la naturaleza.
      </p>
    </div>
  </div>

  <!-- El componente Buscador se renderiza aquí, debajo del header -->
  <BuscadorDisponibilidad unidades={unidades} />

  <section class="bg-gray-50 py-16 sm:py-20 px-4 sm:px-6 lg:px-8">
    <div id="lista-unidades-completa" class="max-w-7xl mx-auto">
      <!-- Contenedor para el resumen de la búsqueda, se mostrará dinámicamente -->
      <div id="search-summary" class="hidden text-center mb-12">
        <!-- El resumen de la búsqueda aparecerá aquí -->
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        unidades.map((unidad) => (
          <UnidadCard 
            id={unidad.id}
            nombre={unidad.nombre}
            descripcion={unidad.descripcion}
            imagen={unidad.imagenPrincipal}
            capacidad={unidad.capacidad}
            amenidades={unidad.amenidades}
            precio={unidad.precio}
          />
        ))
      }
      </div>
    </div>
  </section>
  <WhatsAppButton phone="5493764102637" message="Hola! Quisiera consultar sobre las unidades de alojamiento." />
</Layout1>